<h4>Likes</h4>
{%  for user in usersWithMostLikes %}
    <div>
        <span><b>userId:</b></span>
        <span>{{ user.userId }}</span>
        <span><b>numberOfLikes:</b></span>
        <span><b>{{ user.numberOfLikes }}</b></span>
    </div>
{% endfor %}

<h4>Duration</h4>
{%  for mostActiveUser in mostActiveUsers %}
    <div>
        <span><b>userId:</b></span>
        <span>{{ mostActiveUser.userId }}</span>
        <span><b>duration:</b></span>
        <span><b>{{ mostActiveUser.activityDuration }}</b></span>
    </div>
{% endfor %}