{% extends 'base.html.twig' %}
{% block body %}
    {% block content %}
        <table style="width:100%">
            {% for gallery in galleries %}
                <tr>
                    <hr>
                </tr>
                <tr>
                    <h1> {{ gallery.id }}</h1>
                </tr>
                <tr>
                    <b>Posted by: </b> {{ gallery.name }}
                </tr>
                <tr>
                    <b>Date: </b> {{ gallery.createdAt | date('Y-m-d H:i') }}
                </tr>
            {% endfor %}
        </table>

        {% if maxPages > 1 %}
            <ul>
                {% if thisPage > 1 %}
                    <li >
                        <a href="{{ path('gallery_list', {currentPage: thisPage - 1 < 1 ? 1 : thisPage - 1}) }}">«</a>
                    </li>
                {% endif %}

                {% for i in 1..maxPages %}
                    <li>
                        <a href="{{ path('gallery_list', {currentPage: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {% if thisPage < maxPages %}
                    <li>
                        <a href="{{ path('gallery_list', {currentPage: thisPage + 1 <= maxPages ? thisPage + 1 : thisPage}) }}">»</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}

        <div class="view-galleries">
            <input type="button" id="show_galleries" name="show_galleries" value="show galleries"/>
        </div>

        <div class="galleria">
        </div>


    {% endblock %}
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#show_galleries').click(function (e) {
                $.ajax({
                    url: '{{ path('view_galleries') }}',
                    type: 'GET',
                    success: function (galleries) {
                        for(var i =0; i< galleries.length; i++) {
                            $('.galleria').append('<div>' +galleries[i].g_name + '</div>');
                        }
                    }
                })
                e.stopImmediatePropagation();
            })
        });
    </script>
{% endblock %}
