{% extends 'base.html.twig' %}
{% block body %}
    {% block content %}
        <div class="galleries_names" style="padding: 20px;">
            {% for gallery in galleries %}
                <a href="#" class="galley_name" galleryId="{{ gallery.id }}" style="padding: 20px; background-color: #5eb5e0;">{{ gallery.name }}</a>
            {% endfor %}
        </div>
        <div class="gallery_images" style="background-color: aquamarine; position: relative;"> </div>
        <input id="currentPage" type="hidden" value="0"/>
        <div>
            {% if maxPages > 1 %}
                <ul>
                    {% if thisPage > 1 %}
                        <li>
                            <a class="pagination_class" >«</a>
                        </li>
                    {% endif %}

                    {% for i in 1..maxPages %}
                        <li>
                            <button  class="pagination_class" >{{ i }}</button>
                        </li>
                    {% endfor %}

                    {% if thisPage < maxPages %}
                        <li>
                            <a class="pagination_class">»</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>

        <div style="background-color: #7c8ea3">
            <span>Enter gallery name</span> <input id="searchGalleryName" type="search" name="searchGalleryName" placeholder="gallery name" />
            <div class="search-galleries">

            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script>
        var maxImageId = 0;
        $(document).ready(function () {
            $('.pagination_class').click(function (e) {
                $('.galleries_names').text('');
                $('.gallery_images').text('');
                var currentPage = $(this).text();
                $('#currentPage').val(currentPage);
                $.ajax({
                    url: '{{ path('view_galleries') }}',
                    type: 'GET',
                    dataType: "json",
                    data:{ 'currentPage' : currentPage },
                    success: function (data) {
                        $.each(data, function () {
                            $('.galleries_names').append(
                                '<a href="#" class="galley_name" galleryId="'+ this.g_id +'" style="padding: 20px; background-color: #5eb5e0; margin: 3px;">' + this.g_name + '</a>'
                            );
                        })
                    }
                })
                e.stopImmediatePropagation();
            })
        });

        $('body').on('click', '.galley_name', function (){
            $('.gallery_images').text('');
            var galleryId = $(this).attr('galleryId');
            var route = window.location.origin + '/getImage/'+galleryId;
            $.ajax({
                url: route,
                type: 'GET',
                data: {
                    'galleryId' : galleryId
                },
                success: function (data) {
                    $.each(data, function (index) {
                        $('.gallery_images').append(
                            '<p class="images" image-id = "'+ data[index].image_id +'">"'+ data[index].image_id +'"</p>' +
                            '<img src="'+ window.location.origin + data[index].image_url +'">'
                        );
                    });
                    if(data.length > 0) {
                        $('.gallery_images').append(
                            '<div><button style="position: absolute; bottom: 0;" max-image-id="'+ maxImageId +'" class="load-more-images" galleryId="'+ galleryId +'">Load more</button></div>'
                        );
                    } else {
                        alert('galeria e goala');
                    }

                }
            })
        });

        $('body').on('click', '.load-more-images', function (){
            maxImageId = $('.images').last().attr('image-id');
            var galleryId = $(this).attr('galleryId');
            var route = window.location.origin + '/getImage/'+ galleryId + '/' + maxImageId;
            $.ajax({
                url: route,
                type: 'GET',
                data: {
                    'start' : maxImageId,
                    'galleryId' : galleryId
                },
                success: function (data) {
                    $.each(data, function (index) {
                        $('.gallery_images').append(
                            '<p class="images" image-id = "'+ data[index].image_id +'">"'+ data[index].image_id +'"</p>' +
                            '<img src="'+ window.location.origin + data[index].image_url +'">'
                        );
                    });
                }
            })
        });

        $('#searchGalleryName').keyup(function (e) {
            e.preventDefault();
            $('.search-galleries').text('');
            if(e.keyCode === 13) {
                var galleryName = $('#searchGalleryName').val();

                if(galleryName == '') {
                    $('divincarepunem').text('');
                }

                $.ajax({
                    url: '{{ path('search_gallery') }}',
                    type: 'POST',
                    data: {
                        'galleryName' : galleryName
                    },
                    success: function (data) {
                        $.each(data, function (index) {
                            $('.search-galleries').append(
                                '<p>"'+ data[index].g_name +'"</p>'
                            );
                        });
                    }
                })
            }
        });
    </script>
{% endblock %}
