{% extends 'base.html.twig' %}

{% block title %}AppBundle:Register:register {% endblock %}

{% block body %}
    <div class="panel panel-info">
        <h3 class="text-center">Register</h3>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
